<!DOCTYPE html>
<html>

<head>
  <title>Reset Password</title>
</head>

<body>
  <p>Olá {{name}},</p>
  <p>Você solicitou a recuperação de senha. Clique no link abaixo para resetar sua senha:</p>
  <a href="{{link}}">Resetar Senha</a>
  <p>Se você não solicitou essa recuperação, ignore este e-mail.</p>
</body>

</html>
